/*
* @Author: ArthurBernard
* @Date:   2023-04-07 12:28:53
* @Last Modified by:   ArthurBernard
* @Last Modified time: 2023-04-14 19:56:25
*/

.disclaimer {
  background-color: #333;
  border: 1px solid #555;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #bbb;
  /*width: x;*/
}

blockquote {
  font-style: italic;
  padding: 20px;
  background-color: #333;
  border-left: 5px solid #4CAF50;
  width: 71%;
  /*width: x - 20px;*/
}

blockquote p {
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
  color: #fff;
  width: 100%;
  margin-bottom: 10px;
}

blockquote cite {
  display: block;
  font-size: 18px;
  margin-top: 10px;
  color: #ccc;
}

table { /* to remove */
    border-collapse: collapse;
    caption-side: bottom;
    margin: auto;
}

td, th { /* to remove */
    border: 1px solid black;
    padding: 15px;
}
