/*
* @Author: ArthurBernard
* @Date:   2023-03-01 19:16:37
* @Last Modified by:   ArthurBernard
* @Last Modified time: 2023-03-03 09:26:34
*/

body {
    background-image: url(https://images.unsplash.com/photo-1602287389013-cb4321544a54?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    color: white;
    /*background: url("https://images.unsplash.com/photo-1602287389013-cb4321544a54?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") fixed cover bottom;*/
    padding: 0px;
    margin: 50px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    height: 50px;
    width: 90%;
}

footer {
    padding: 50px;
}

nav {
    height: 50px;
    margin: auto;
}

main {
    width: 75%;
    margin: auto;
}

h1 {
    color: #A5B4FC;
    font-size: 3em;
    font-family: 'Ubuntu Mono', monospace;
    text-shadow: -1px 3px 3px RGB(0, 0, 0);
    margin: auto;
}

h2 {
    color: orange;
    font-size: 2em;
    font-family: 'Ubuntu Mono', monospace;
}

h3, p, li {
    color: yellow;
    font-size: 1.1em;
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    width: 75%;
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover{
    color: blue;
    text-decoration: underline;
}
a:focus {
    color: blue;
    text-decoration: underline;
}
a:active {
    color: red;
    text-decoration: none;
}

.my_name {
    color: blue;
    font-weight: 700;
}

.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: linear-gradient(90deg, #4B79A1, #283E51);
    border: solid black 5px;
    border-radius: 5px 30px 5px 30px;
    box-shadow: -2px 6px 3px black;
    opacity: 0.4;
    color: white;
    font-size: 1.4em;
    font-style: italic;
    font-family: 'Ubuntu Mono', monospace;
    padding: 50px;
    height: 50px;
    width: 90%;
}

.banner_button {
    color: white;
    text-decoration: none;
    /*width: 500px;*/
    /*opacity: 1;*/
}

.banner_button:hover {
    background-color: black;
    color: white;
    opacity: 0.5;
}

.italic {
    font-style: italic;
}

#my_id {
    color: pink;
    font-size: 0.8em;
}

/* A B {...} // Aplly to B if B in A*/

/* A + B {...} // Apply to B if B is after A*/

/* A[c] {...} // Apply to A if A has c attribute */

/* A[c=value] {..} // Apply to A if A has c attribute with a specified value */
