/*
* @Author: ArthurBernard
* @Date:   2023-03-01 19:16:37
* @Last Modified by:   ArthurBernard
* @Last Modified time: 2023-04-05 11:06:49
*/

body {
    background-image: url(https://images.unsplash.com/photo-1602287389013-cb4321544a54?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    /*background: url("https://images.unsplash.com/photo-1602287389013-cb4321544a54?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") fixed cover bottom;*/
    padding: 0px;
    margin: 10px;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0px 10px 100px;
    margin: 0;
    height: 50px;
    background-color: pink;
}

footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0px 10px 100px;
    margin: 0;
    height: 50px;
    background-color: green;
}

nav {
    height: 50px;
    margin: auto;
    padding: 0px;
}

main {
    width: 85%;
    margin: auto;
}

table {
    border-collapse: collapse;
    caption-side: bottom;
    margin: auto;
}

td, th {
    border: 1px solid black;
    padding: 15px;
}

h1 {
    color: #A5B4FC;
    font-size: 3em;
    font-family: 'Ubuntu Mono', monospace;
    text-shadow: -1px 3px 3px RGB(0, 0, 0);
    margin: auto;
}

h2 {
    color: orange;
    font-size: 2em;
    font-family: 'Ubuntu Mono', monospace;
}

h3, p, li {
    color: yellow;
    font-size: 1.1em;
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    width: 75%;
}

a {
    color: rgba(152, 188, 188, 0.5);;
    text-decoration: none;
    font-style: italic;
}

a:hover{
    color: blue;
    text-decoration: underline;
}
a:focus {
    color: blue;
    text-decoration: underline;
}
a:active {
    color: red;
    text-decoration: none;
}

.my_name {
    color: blue;
    font-weight: 700;
}

.italic {
    font-style: italic;
}

#my_id {
    color: pink;
    font-size: 0.8em;
}

/* A B {...} // Aplly to B if B in A*/

/* A + B {...} // Apply to B if B is after A*/

/* A[c] {...} // Apply to A if A has c attribute */

/* A[c=value] {..} // Apply to A if A has c attribute with a specified value */


/*===============*/
/* New from test */
/*===============*/

.nav {
    padding-right: 6rem;
    text-align: right;
    background: linear-gradient(90deg, #4B79A1, #283E51);
    border: solid black 5px;
    border-radius: 5px 30px 5px 30px;
    box-shadow: -2px 6px 3px black;
    margin-bottom: 2rem;
    /*position: sticky;*/
}

.nav__link {
    display: inline;
    font-size: 1.4em;
    font-style: italic;
    padding-left: 1rem;
}

/*For `a` included in `nav__link`*/
.nav__link a {
    color: white;
    text-decoration: none;
}

.nav__link a:hover{
    text-shadow: -2px 6px 3px #4d4d4d;
    color: #E7E7E7;
    opacity: 0.8;
}

.nav__link a:focus {
    text-shadow: -2px 6px 3px #4d4d4d;
    color: #E7E7E7;
    opacity: 0.8;
}

.nav__link a:active {
    text-shadow: -2px 6px 3px #4d4d4d;
    color: #1a4c70;
    opacity: 1;
}

.nav__link--selected {
    font-style: normal;
    text-decoration: underline;
}
