/*
* @Author: ArthurBernard
* @Date:   2023-03-17 07:13:44
* @Last Modified by:   ArthurBernard
* @Last Modified time: 2023-03-31 19:08:28
*/

/*Two columns resume*/
.resume {
    padding: 0rem;
    margin: 1rem 6rem 1rem 6rem;
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-template-rows: 1fr 8fr;
    gap: 0.5rem;
    background-color: white;
    width: 85%;
    margin: auto;
    border: solid black 2px;
}

.contact {
    grid-column: 1;
    grid-row: 1;
    padding: 1rem;
}

.contact li {
    margin: 0.5rem;
}

.resume-header {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
}

.resume-header__title {
    grid-column: 1;
    grid-row: 2;
    padding-left: 1rem;
}

.resume-header__name {
    grid-column: 1;
    grid-row: 1;
    padding-left: 1rem;
    margin-left: 0;
}

.resume-header__picture {
    grid-column: 2;
    grid-row: 1 / 3;
    border: 2px solid rgb(139, 179, 177);
    padding: 2px;
    margin: auto;
}

.side-left {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    /*grid-template-rows: 1fr 1fr 1fr 1fr ;*/
    /*grid-template-rows: 350px 250px 250px 150px;*/
    grid-template-rows: 20em 15em 15em 10em;
    grid-template-columns: 1fr;
    margin: 0rem;
    padding: 0rem 1rem 0rem 1rem;
    background-color: rgba(152, 188, 188, 0.5);
    font-size: 1rem;
}

h3 {
    font-size: 1.6rem;
}

h2 {
    color: rgb(139, 179, 177);
}

h3, p, li {
    color: black;
}

.side-left h3 {
    border: 3px solid rgb(139, 179, 177);
    box-shadow: 3px 3px 0px black;
    text-align: center;
    margin: auto;
}

.side-right {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
    grid-template-rows: 21rem 21rem 21rem 21rem;
    grid-template-columns: 1fr;
    font-size: 0.9rem;
}

.side-right h3 {
    margin: 0rem 0rem 0.5rem 0rem;
}

.container {
    color: black;
    padding: 0rem 1rem 0rem 1rem;
    margin: 0.2rem;
}

.container ul {
    padding: 0rem;
    margin-left: 0.5rem;
}

.container li {
    padding: 0rem;
    margin: 0.5rem;
    width: 100%;
}

.field {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    margin-bottom: 0.5rem;
    height: 6rem;
}

.field__date {
    grid-column: 1;
    grid-row: 1 / 3;
    font-size: 0.9rem;
}

.field__title {
    grid-column: 2;
    grid-row: 1;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 700;
    color: blue;
}

.field__place {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
    font-size: 0.8 rem;
    font-style: italic;
}

.field__description {
    grid-column: 2;
    grid-row: 2;
    text-align: justify;
    margin-top: 0.1rem;
}

.experience {
    grid-row: 1;
}

.personnal-projects {
    grid-row: 2;
}

.education {
    grid-row: 3;
}

.miscellaneous {
    grid-row: 4;
}

.key-skill {
    grid-row: 1;
}

.programming {
    grid-row: 2;
}

.mooc {
    grid-row: 3;
}

.interests {
    grid-row: 4;
}

.download__button {
    background-color: grey;
    border: solid black 2px;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    width: 10rem;
    border-radius: 10px;
    font-size: 1.2em;
}

