/*
* @Author: ArthurBernard
* @Date:   2023-03-08 16:50:38
* @Last Modified by:   ArthurBernard
* @Last Modified time: 2023-04-22 08:47:05
*/

/* Test candlestick chart */

#candlestick-chart {
    display: flex;
    align-items: flex-end;
    height: 200px;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    gap: 10px;
}

.candlestick {
  display: inline-block;
  position: relative;
  margin-right: 2px;
}

.candlestick.bullish {
  background-color: green;
}

.candlestick.bearish {
  background-color: red;
}

.candlestick .wick {
    display: block;
    position: absolute;
    width: 1px;
    background-color: inherit;
}

.candlestick .body {
    display: block;
    position: absolute;
    width: 5px;
    background-color: inherit;
}

.axis {
  position: absolute;
  font-size: 0.8rem;
}

.x-axis {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.y-axis {
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
}
