/*
* @Author: ArthurBernard
* @Date:   2023-03-08 16:50:38
* @Last Modified by:   ArthurBernard
* @Last Modified time: 2023-04-21 09:27:02
*/

/* Test candlestick chart */

#candlestick-chart {
    display: flex;
    align-items: flex-end;
    height: 200px;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
}

.candlestick {
  display: inline-block;
  position: relative;
  margin-right: 2px;
}

.candlestick.bullish {
  background-color: green;
}

.candlestick.bearish {
  background-color: red;
}

.candlestick .wick {
    display: block;
    position: absolute;
    width: 1px;
    background-color: inherit;
}

.candlestick .body {
    display: block;
    position: absolute;
    width: 5px;
    background-color: inherit;
}
